<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-cart table-mobile">
                <thead>
                    <tr>
                        <th>Orders</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th></th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let order of orders">
                        <td class="product-col">
                            <div class="product">
                                <figure class="product-media">
                                    <a>
                                        <img src="{{order.items[0].imageURL}}" alt="Product image">
                                    </a>
                                </figure>

                                <h3 class="product-title">
                                    <a *ngIf="order.items.length == 1">{{order.items[0].name}}</a>
                                    <a *ngIf="order.items.length > 1">{{order.items[0].name}} and {{order.items.length - 1}} more.</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="product-title">{{convertDate(order.orderDateTime)}}</td>
                        <td class="product-title">{{getOrderStatus(order)}}</td>
                        <td></td>
                        <td class="product-title">₹{{getTotalForOrder(order)}}/-</td>
                    </tr>
                </tbody>
            </table><!-- End .table table-wishlist -->
        </div>
    </div><!-- End .row -->
</div>