<ngx-spinner type="ball-fussion"></ngx-spinner>
<app-header></app-header>
<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
<div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
  <div class="row justify-content-center">
      <div class="col-10">
          <div class="row no-gutters bg-white newsletter-popup-content">
              <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                  <div class="banner-content text-center">
                      <!-- <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15"> -->
                      <h2 class="banner-title">Before you begin..</h2>
                      <p><b>You can register yourself by Phone number OTP verification</b> (please include the country code.)</p>
                      <p><b>Use valid Email ID to receive order updates.</b>(do check your spam folder if you haven't received)</p> 
                      <p>Happy Shopping!🍒</p>
                  </div>
              </div>
              <div class="col-xl-2-5col col-lg-5 ">
                  <img src="../assets/images/login-bg.jpg" class="newsletter-img" alt="newsletter">
              </div>
          </div>
      </div>
  </div>
</div>